@import "../node_modules/milligram/dist/milligram.css";
@font-face {
  font-family: KGOnlyHope;
  src: url(/fonts/KGOnlyHope.ttf);
}

html {
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.header {
  text-align: center;
  margin-top: 10px;
}

.notice {
  font-family: KGOnlyHope;
  background-color: #B99566;
  margin: 30px 30px 30px 30px;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: black;
}

.game {
  margin-top: 30px;
}

#board{
  width: 565px;
  height: 560px;
}

#overlay{
  margin-left: 20px;
  margin-top: 10px;
  width: 565px;
  height: 560px;
  position: absolute;
  z-index: 3;
  background-image: url('/images/snake_ladders.png');
  background-repeat: no-repeat;
}

.slot {
  height: 50px;
  width: 50px;
  border-style: solid;
}

.slot-white {
  background-color: white;
}

.slot-yellow {
  background-color: #ffff00;
}

.players {
  height: 150px;
  background-image: url("/images/sidebar-background.jpg");
  background-repeat: no-repeat;
  position: relative;
}

.player {
  margin-top: 25px;
}

.dice-wrapper{
  background-image: url("/images/sidebar-background.jpg");
  background-repeat: no-repeat;
}
.circle{
  position: absolute;
  // top: 4px;
  // left: -5px;
}
.player-name{
  font-weight: bold;
  color: black;
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 15px;
}

.pig {
  width: 50px;
  height: 50px;
  background: url('/images/pig.png');
  animation: pig 2s steps(4) infinite;
}

@keyframes pig {
  100% {background-position: -209px;}
}

.lupid {
  width: 50px;
  height: 50px;
  background: url('/images/lupid.png');
  animation: monkey 2s steps(10) infinite;
}

@keyframes monkey {
  100% {background-position: -498px;}
}

td {
  position: relative;
}
.player1, .player2{
  position: absolute;
  bottom: 5px;
  left: 2px;
  z-index: 4;
}

.player1-img {
  background-image: url("/images/lupid1.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 91px;
  height: 70px;
}

.player2-img{
  background-image: url("/images/pig1.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 91px;
  height: 70px;
}

.dice-result {
  height: 90px;
  color: black;
  font-size: 50px;
}

